*{
    padding: 0px;
    margin: 0px;
}

.boxImg{
    width: 500px;
    height: 300px;
    border:  5px yellow solid;
    overflow: hidden;
    transition: 0.5s;
}
.boxImg img{
   width: 100%;
   height: 100%; 
}
.wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.container::before, .container::after{
    content: " ";
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    transition: 1s;
    opacity: 0;
}
.container::before{
    transform: translateX(-125%) rotate(45deg);
}
.container::after{
    transform: translateX(195%) rotate(45deg);
}
.text{
    position: absolute;
    top: 10%;
    color: #fff !important;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    z-index: 10;
}
h1{
    margin-bottom: 15px;
    font-size: 30px;
    transition: 0.5s;
    transform: scale(0);
    color: #fff !important;
}
.text p{
    margin: 0 100px;
    font-size: 18px;
    text-align: justify;
    transition: 0.5s;
    transform: scale(2);
    opacity: 0;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
    color: #fff !important;
}

.boxImg:hover img{
    filter: blur(2px);
    transform: rotate(-5deg) scale(1.1);
    transition: 0.5s;
}
.boxImg:hover .text h1{
    transform: scale(1);
}
.boxImg:hover .text p{
    transform: scale(1);
    opacity: 1;
    color: #fff !important;
    color: #fff !important;
}

.boxImg:hover .container::before{
    transform: translateX(92%) rotate(45deg) scale(2);
    transition: 0.5s;
    opacity: 0.6;
}
.boxImg:hover .container::after{
    transform: translateX(-25%) rotate(-45deg) scale(2);
    transition: 0.5s;
    opacity: 0.6;
}
.wrapper:hover{
    overflow: hidden;
}
element.style {
    color: #fff;
}
Style Attribute {
    color: #fff;
}
